@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ----- variables ----- */
:root {
    --color-black: #080808;
    --color-grey-100: #040404;
    --color-grey-200: #898989;
    --color-grey-300: #5a5a5a;
    --color-grey-400: #222222;
    --color-grey-500: #171717;
    --color-white: #FFFFFF;
    --color-blue: #146ef5;
    --color-orange: #ff6b00;
    --color-pink: #ed52cb;
    --color-yellow: #ffae13;
    --color-red: #ee1d36;
    --color-green:#065f46;
    --color-purple: #7a3dff;
    --color-emerald-50: #ecfdf5;
    --color-emerald-100: #d1fae5;

}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

 body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--color-emerald-50);
}


.header {
    height: auto;
    width: 100vw;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 2rem;
}

.nav-bar {
    background-color: var(--color-emerald-50);
    box-shadow: 0 1px rgba(117, 117, 117, .2);
    display: flex;
    align-items: center;
}

.nav-bar__ul {
    display: flex;
    gap: 1.6rem;
    max-width: 1280px;
    margin: 0 auto;
}

.nav-bar__ul > li {
    padding: 2rem 1rem;
}

.nav-bar__ul li:hover{
    box-shadow: inset 0 -4px var(--color-green);
    background-color: var(--color-emerald-100);
}

.nav-bar__ul li > a {
    color: var(--color-black);
    text-decoration: none;
}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-emerald-50);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 5.6rem;
    left: 0;
  }
  
  .dropdown-content a {
    color: var(--color-black);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: var(--color-emerald-100);
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1280px;
    margin: 0 auto;
}

.carousel {
    width: 100%;
    height: 50vh;
    background-color: var(--color-grey-100);
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
    height: 400px;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--color-green);
}

.product__image {
    width: 100%;
}

.product__title {
    color: var(--color-black);
    font-weight: 600;
}

.product__description {
    color:var(--color-grey-200)
}

.mapa {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}

.mapa__info {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

.mapa__title {
    color: var(--color-black);
    font-size: 2.4rem;
    font-weight: 600;
}

.mapa__description {
    color:var(--color-grey-200)
}

footer {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-green);
    color: var(--color-white);
    margin-top: 2rem;
}